{% from "components/heading.jinja" import heading %}
{% from "components/secondary_navigation.jinja" import secondaryNavigation %}

{% extends 'layouts/base.jinja' %}

{% block page_heading %}
  {{ heading({
    "text": "Reports",
    "level": 1,
    "size": "l",
    "summary": "For the " ~ academic_year ~ " academic year so far"
  }) }}
{% endblock %}

{% block page_content %}

{{ secondaryNavigation({
  "items": secondary_navigation_items,
  "selected_item_text": selected_item_text,
}) }}

{% block dashboard_content required %}{% endblock %}

{% endblock %}
