{% from "radios/macro.jinja" import radios %}
{% from "select/macro.jinja" import select %}
{% from "checkboxes/macro.jinja" import checkboxes %}
{% from "input/macro.jinja" import input %}
{% from "fieldset/macro.jinja" import fieldset %}
{% from "button/macro.jinja" import button %}

{% macro filters(params) %}
<form id="filters-form"
      method="get"
      action="{{ params.form_action }}"
      hx-get="{{ params.form_action }}"
      hx-trigger="change from:input"
      hx-target="#dashboard"
      hx-select="#dashboard"
      hx-select-oob="#filters-form:outerHTML"
      hx-swap="outerHTML"
      hx-disabled-elt="#filters-form input"
      hx-replace-url="true">
  {% call fieldset({
    "legend": {
      "text": "Filter data",
      "classes": "nhsuk-heading-m filter-container__legend",
      "isPageHeading": false
    },
    "classes": "nhsuk-card filter-container"
  }) %}

    <div class="filter">
      {% set programme_items = [] %}
      {% for programme in params.programmes %}
        {% set checked = params.current_filters.get('programme') == programme.value %}
        {% set _ = programme_items.append({
          "value": programme.value,
          "text": programme.text,
          "checked": checked
        }) %}
      {% endfor %}

      {{ radios({
        "idPrefix": "programme",
        "name": "programme",
        "classes": "nhsuk-radios--small",
        "fieldset": {
          "legend": {
            "text": "Programme",
            "classes": "nhsuk-fieldset__legend--s"
          }
        },
        "items": programme_items
      }) }}
    </div>

    <div class="filter">
      {% set gender_items = [] %}
      {% for gender in params.genders %}
        {% set checked = gender.value in (params.current_filters.get('gender') or []) %}
        {% set _ = gender_items.append({
          "value": gender.value,
          "text": gender.text,
          "checked": checked
        }) %}
      {% endfor %}

      {{ checkboxes({
        "idPrefix": "gender",
        "name": "gender",
        "classes": "nhsuk-checkboxes--small",
        "fieldset": {
          "legend": {
            "text": "Gender",
            "classes": "nhsuk-fieldset__legend--s"
          }
        },
        "items": gender_items
      }) }}
    </div>

    <div class="filter">
      {% set year_group_items = [] %}
      {% for year_group in params.year_groups %}
        {% set checked = year_group.value in (params.current_filters.get('year_group') or []) %}
        {% set _ = year_group_items.append({
          "value": year_group.value,
          "text": year_group.text,
          "checked": checked
        }) %}
      {% endfor %}

      {{ checkboxes({
        "idPrefix": "year-group",
        "name": "year-group",
        "classes": "nhsuk-checkboxes--small",
        "fieldset": {
          "legend": {
            "text": "Year group",
            "classes": "nhsuk-fieldset__legend--s"
          }
        },
        "items": year_group_items
      }) }}
    </div>

    <div class="nhsuk-button-group">
      {{ button({
        "text": "Update results",
        "variant": "secondary",
        "small": true,
        "classes": "js-hide"
      }) }}

      {{ button({
        "text": "Clear filters",
        "variant": "secondary",
        "small": true,
        "href": params.form_action
      }) }}
    </div>
  {% endcall %}
</form>
{% endmacro %}
