{% from "components/filters.jinja" import filters %}
{% from "components/heading.jinja" import heading %}
{% from "card/macro.jinja" import card %}
{% from "tables/macro.jinja" import table %}
{% from "components/app_dashboard_card.jinja" import app_dashboard_card %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}Consent report | {{ app_title }}{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders,
      "current_filters": current_filters or {},
      "form_action": url_for('main.consent', workgroup=team.workgroup)
    }) }}
  </div>

  <div id="dashboard" class="app-grid-column-content">
    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--blue",
        "heading": "Cohort",
        "description": data.cohort | thousands,
        "caption": "child" if data.cohort == 1 else "children",
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--red",
        "heading": "No consent recorded",
        "description": data["no_consent_percentage"] | percentage,
        "caption": data["no_consent"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--green",
        "heading": "Consent given",
        "description": data["consent_given_percentage"] | percentage,
        "caption": data["consent_given"] | format_child_count,
      }) }}
    </div>

    {{ heading({
      "text": "Breakdown of children with no consent recorded",
      "level": 3,
      "size": "s",
    }) }}

    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "heading": "No consent response or not yet invited",
        "description": data["consent_no_response_percentage"] | percentage,
        "caption": data["consent_no_response"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "heading": "Consent refused",
        "description": data["consent_refused_percentage"] | percentage,
        "caption": data["consent_refused"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "heading": "Conflicting consent",
        "description": data["consent_conflicts_percentage"] | percentage,
        "caption": data["consent_conflicts"] | format_child_count,
      }) }}
    </div>

    {% set refusal_rows = [] %}
    {% for reason in refusal_reasons %}
      {% set _ = refusal_rows.append([
        { "text": reason.text },
        { "text": data["consent_refusal_reasons_percentages"][reason.value] | percentage, "format": "numeric" }
      ]) %}
    {% endfor %}

    {{ table({
      "heading": "Reasons consent refused",
      "tableClasses": "nhsuk-table--data",
      "panel": true,
      "head": [
        { "text": "Reason" },
        { "text": "Percentage", "format": "numeric" }
      ],
      "rows": refusal_rows
    }) }}

    {% set route_rows = [] %}
    {% for route in consent_routes %}
      {% set _ = route_rows.append([
        { "text": route.text },
        { "text": data["consent_routes_percentages"][route.value] | percentage, "format": "numeric" }
      ]) %}
    {% endfor %}

    {{ table({
      "heading": "Consent responses by method",
      "tableClasses": "nhsuk-table--data",
      "panel": true,
      "head": [
        { "text": "Method" },
        { "text": "Percentage", "format": "numeric" }
      ],
      "rows": route_rows
    }) }}

    <p class="nhsuk-body-m nhsuk-u-margin-bottom-6">
      This data was last updated on <strong>{{ last_updated_time }}</strong>.
    </p>

  </div>
</div>

{% endblock %}
