{% from "components/filters.jinja" import filters %}
{% from "components/heading.jinja" import heading %}
{% from "card/macro.jinja" import card %}
{% from "tables/macro.jinja" import table %}
{% from "components/app_dashboard_card.jinja" import app_dashboard_card %}

{% extends 'layouts/dashboard.jinja' %}

{% block pageTitle %}Vaccination report | {{ app_title }}{% endblock %}

{% block dashboard_content %}

<div class="nhsuk-grid-row">
  <div class="app-grid-column-filters">
    {{ filters({
      "programmes": programmes,
      "year_groups": year_groups,
      "genders": genders,
      "current_filters": current_filters or {},
      "form_action": url_for('main.vaccinations', workgroup=team.workgroup)
    }) }}
  </div>

  <div id="dashboard" class="app-grid-column-content">
    <div class="nhsuk-card-group nhsuk-grid-row app-card-group">
      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--blue",
        "heading": "Cohort",
        "description": data.cohort | thousands,
        "caption": "child" if data.cohort == 1 else "children",
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--red",
        "heading": "Not vaccinated",
        "description": data["not_vaccinated_percentage"] | percentage,
        "caption": data["not_vaccinated"] | format_child_count,
      }) }}

      {{ app_dashboard_card({
        "classes": "nhsuk-grid-column-one-third",
        "card_classes": "app-card--green",
        "heading": "Vaccinated",
        "description": data["vaccinated_percentage"] | percentage,
        "caption": data["vaccinated"] | format_child_count,
      }) }}
    </div>

    {% set rows = [] %}
    {% for row in data.monthly_vaccinations_given %}
      {% set _ = rows.append([
        { "text": row.month ~ " " ~ row.year },
        { "text": row.school_count | thousands, "format": "numeric" },
        { "text": row.community_count | thousands, "format": "numeric" }
      ]) %}
    {% endfor %}
    {% set _ = rows.append([
      { "text": "Total" },
      { "text": data.vaccinations_given.school_count | thousands, "format": "numeric" },
      { "text": data.vaccinations_given.community_count | thousands, "format": "numeric" }
    ]) %}

    {{ table({
      "heading": "Monthly vaccinations by " ~ team.name,
      "tableClasses": "nhsuk-table--data nhsuk-table--with-total",
      "panel": true,
      "head": [
        { "text": "Month", "format": "date"},
        { "text": "School", "format": "numeric" },
        { "text": "Community", "format": "numeric" }
      ],
      "rows": rows
    }) }}

    <p class="nhsuk-body-m nhsuk-u-margin-bottom-6">
      This data was last updated on <strong>{{ last_updated_time }}</strong>.
    </p>

  </div>
</div>

{% endblock %}
